<div class="change_propic_overlay" role="presentation">
    <div class="change_propic" role="dialog">
            <div class="change_propic_item">
                <div class="change_propic_header">
                    <h3 class="cng_pic">Change Profile Photo</h3>
                </div>
                <div style="margin-top:16px;">
                    <button id="cng" class="cng cng_pic_button" tabindex="0">Upload Photo</button>
                    <button id="rmv" class="rmv cng_pic_button" tabindex="0">Remove Current Photo</button>
                    <button class="cancel cng_pic_button" tabindex="0">Cancel</button>
                    <form method="POST" id="pp_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="propic" style="display: none !important;">
                        <input type="hidden" name="url" value="{{request.get_full_path}}">
                    </form>
                </div>
            </div>
    </div>
</div>