body{
    font-size: 14px !important;
    background: rgba(var(--b3f,250,250,250),1);
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.root-section{
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-height: 100%;
    overflow: hidden;
}

.header{
    height: 54px;
}

.nav_div{
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 54px;
}

.nav_content{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    justify-content: center;
    max-width: 975px;
    width: 100%;
    height: 54px;
    padding: 0 20px;
}

.nav_logo{
    -webkit-box-flex: 1;
    flex: 1 9999 0%;
    min-width: 40px;
}
.logo-div{
    align-content: stretch;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-top: 7px;
}

.logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.nav_search{
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    min-width: 125px;
    width: 215px;
    height: 28px;
}

.search{
    background: rgba(var(--b3f,250,250,250),1);
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    color: rgba(var(--i1d,38,38,38),1);
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.search:placeholder-shown{
    font-size: 16px;
}

.nav_menu{
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 0%;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.menu{
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}


.menu-item:not(:first-child){
    margin-left: 22px
}

.main-content{
    background-color: rgba(var(--b3f,250,250,250),1);
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 5;
    order: 4;
    padding: 0;
}

.menuitemimg{
    height: 22px;
    width: 22px;
}

.profile{
    border-radius:50%;
}

.propicactive{
    border: 1px solid rgba(var(--i1d,38,38,38),1);
    border-radius: 50%;
    height: 28px;
    left: 50%;
    position: absolute;
    top: 47%;
    transform: translate(-50%,-50%);
    width: 28px;
    z-index:-1;
}

.nav_dropdown{
    top: 15px;
}

footer{
    background-color: rgba(var(--b3f,250,250,250),1);
    -webkit-box-ordinal-group: 6;
    order: 5;
    padding: 0 20px;
}

div,footer,nav,section,main,article{
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    font: inherit;
}

a, a.hover {
    text-decoration: none !important;
}

.window{
    display: flex;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.dropmenu{
    transform-origin: top center;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 75ms linear,transform 38ms ease-out,-webkit-transform 38ms ease-out;
    background: rgba(var(--d87,255,255,255),1);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    position: absolute;
    z-index: 3;
}

.dropmenubox{
    bottom: 0;
    top: -6px;
    background: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--f23,255,255,255),1);
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    height: 14px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
}

.dropitemsdiv{
    background: rgba(var(--d87,255,255,255),1);
    border-radius: 6px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.dropitem{
    cursor: pointer;
    outline: 0;
}

.logoutline{
    background-color: rgba(var(--b38,219,219,219),1);
    border: 0;
    height: 1px;
    margin: 0;
    width: 100%;
}

.profile_logout{
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-flex: 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
}

.profileicon{
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-right: 12px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: stretch;
}

.profiletext{
    color : black;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: stretch;
}