{% extends 'account_base.html' %}
{%load static%}
{%block title%}Login • Instagram{% endblock %}
{% block body %}
    <div class="form-body">
        <div class="f_content">
            <div >
                <img src="{%static 'images/instalogo.png'%}" alt="">
            </div>
            <form action="{%url 'accounts:login'%}" method="POST">
                {% csrf_token %}
                <div>
                    <input type="text" name="username_mail"  placeholder="Username or Email" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <button>Log In</button>
                </div>
                {%if error%} 
                <div class="login_signup error">
                        {{error}}
                </div>
                {%endif%}
            </form>
            <div class="login_signup">
                <a href="{% url 'accounts:password_reset' %}" style="text-decoration: none;color: #3f4390;">Forgot password?</a>
            </div>
        </div>
        <div class="f_content">
            <div class="login_signup">
                <p>
                    Don't have an account? 
                    <a href="{%url 'accounts:signup'%}" style="text-decoration: none;color: #0295f6;">Sign up</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}