{% extends 'account_base.html' %}
{% load static %}
{%block title%}
    {% if done == "reset" %}
        Password Reset
    {% elif done == "email" %}
        Password Reset done
    {% elif done == "resetform" %}
        Enter New Password
    {% else %}
        Reset Complete
    {% endif %}
{%endblock%}
{%block body%}
<div class="form-body">
    <div class="f_content">
        {% if done == "reset" %}
            <div >
                <img src="{%static 'images/favicon.ico'%}" alt="">
            </div>
            <div style="text-align: center;">
                <h5>Reset Password</h5>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <input type="email" name="email"  placeholder="Email address" id="id_email" required>
                </div>
                <div>
                    <button type="submit">Send Email</button>
                </div>
            </form>
        {% elif done == "email" %}
            <div style="padding: 0px 10px; text-align: center;">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
                <p>
                    <a href="{% url 'instagram:feed' %}" style="text-decoration: none;color: #0295f6;">
                        Return to home page
                    </a>
                </p>
            </div>
        {% elif done == "resetform" %}
            <div >
                <img src="{%static 'images/instalogo.png'%}" alt="">
            </div>
            <div style="text-align: center;">
                <h5>Enter New Password</h5>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <input type="password" name="new_password1"  placeholder="Enter New password" id="id_new_password1" required>
                </div>
                <div>
                    <input type="password" name="new_password2"  placeholder="Confirm New Password" id="id_new_password2" required>
                </div>
                <div>
                    <button type="submit">Reset Password</button>
                </div>
                {% if form.new_password1.errors or form.new_password2.errors%}
                    <div class="login_signup error">
                        {% for field in form %}
                            {% for err in field.errors %}
                                {{err}}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {%endif%}
            </form>
        {% else %}
            <div style="padding: 0px 10px; text-align: center;">
                <p>Your password has been reset. You may go ahead and 
                    <a href="{% url 'accounts:login' %}" style="text-decoration: none;color: #0295f6;">
                        sign in
                    </a>
                     now.
                </p>
            </div>
        {% endif %}
    </div>
</div>
{%endblock%}
