{% extends 'base.html' %}
{% load static %}



{% block title %}{{user_details.username}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'instagram/css/profile.css' %}">
{% endblock %}

{% block profilephoto %} {{propic.url}} {% endblock %}

{% block content %}
    <div class="content-div">
        <header class="profile-header">
            <div class="propic-div">
                {% if user.username == user_details.username%}
                    {%if profile.profile_pic.url != '/media/defaultPic/default_profile_pic.jpg'%}
                        <button class="propic-button" title="change">
                            <img class="propic" src="{{profile.profile_pic.url}}" alt="change pro pic" />
                        </button>
                    {%else%}
                        <button class="propic-button" title="add">
                            <img class="propic" src="{{profile.profile_pic.url}}" alt="add pro pic" />
                        </button>
                    {%endif%}
                    <div></div>
                {% else %}
                    <img class="propic" src="{{profile.profile_pic.url}}" alt="{{profile}}" />
                {% endif %}
            </div>
            <section class="profile-info">
                <div class="first_info">
                    <h2 class="u_name">{{user_details.username}}</h2>
                    <div class="edit_profile">
                        {% if user.username == user_details.username%}
                            <a class="edit" href="{%url 'accounts:edit'%}">Edit Profile</a>
                        {% endif %}
                    </div>
                </div>
                <ul class="second_info">
                    <li class="second_info_list"><span class="list_text"><span
                                class="list_number">{{profile.total_posts}}</span> posts</span></li>
                    <li class="second_info_list"><a href="#" class="list_text"><span
                                class="list_number">{{profile.followers}}</span> followers</a></li>
                    <li class="second_info_list"><a href="#" class="list_text"><span
                                class="list_number">{{profile.following}}</span> following</a></li>
                </ul>
                <div class="third_info">
                    <h1 class="fullname">{{user_details.first_name}}</h1><br>
                    <span class="bio">{{profile.bio}}</span>
                </div>
            </section>
        </header>

        <div>
            <a href="#">POSTS</a>
            {% if user.username == user_details.username%}
            <a href="#">Upload</a>
            {% endif %}
        </div>

        <div class="posts">
            {% include 'instagram/snippets/posts.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const csrf = '{% csrf_token %}';
        const URL = "{% url 'accounts:cng_pp' %}"
    </script>
    <script src="{% static 'instagram/js/profile.js' %}"></script>
{% endblock %}

