{% extends 'base.html' %}
{%load static%}
{%block title%}{{user_details.username}}{%endblock%}
{%block profilephoto%} {{propic.url}} {%endblock%}
{%block body%}
    {% if user.username == user_details.username%}
        {%if profile.profile_pic.url != '/media/defaultPic/default_profile_pic.jpg'%}
            <img src="{{profile.profile_pic.url}}" alt="" height="200px" width="200px"/>
            <button id="cng">Change profile picture</button>
            <button id="rmv">Remove profile picture</button>
        {%else%}
            <img id="p_pic"src="{{profile.profile_pic.url}}" alt="" height="200px" width="200px" style="cursor: pointer;"/>
        {%endif%}
        <form method="POST" id="pp_form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="propic" style="display: none !important;">
            <input type="hidden" name="url" value="{{request.get_full_path}}">
        </form>
        <h2>{{user_details.username}}</h2>
        <a href="{%url 'accounts:edit'%}">Edit Profile</a><br>

        <script type="text/javascript">
            let input_onchange = function(act){
                if (act==="remove"){
                    document.getElementById('pp_form').action = "{% url 'accounts:cng_pp' 'remove' %}"
                    document.getElementById('pp_form').submit();
                }else{
                    document.getElementsByName('propic')[0].addEventListener("change",()=>{
                        document.getElementById('pp_form').action = "{% url 'accounts:cng_pp' 'act' %}".replace('act',act);
                        document.getElementById('pp_form').submit();
                    });
                }
    
            }
        </script>
        <script>
            document.getElementById('cng').addEventListener("click",()=>{
                document.getElementsByName('propic')[0].click();
                input_onchange("change");
            });
            document.getElementById('rmv').addEventListener("click",()=>{
                input_onchange("remove");
            });
        </script>
        <script>
            document.getElementById('p_pic').addEventListener("click",()=>{
                document.getElementsByName('propic')[0].click();
                input_onchange("default_change");
            });
        </script>

    {% else %}
        <img src="{{profile.profile_pic.url}}" alt="" height="200px" width="200px"/>
        <h2>{{user_details.username}}</h2>
    {% endif %}
    <p>{{profile.total_posts}} posts
    <a href="#">{{profile.followers}} followers</a>
    <a href="#">{{profile.following}} following</a></p>
    <h6>{{user_details.first_name}}</h6>
    <p>{{profile.bio}}</p>

    {% if posts %}
        <div>
            {% for post in posts %}
                <a href="{% url 'post:post_details' post.slug %}"><img src="{{post.image.url}}" alt="{{post}}" height="200px" width="200px"></a>
            {% endfor %}
        </div>
    {% endif %}
    
{%endblock%}
