{% extends 'base.html' %}
{% load static %}
{% block title %} post {% endblock %}
{% block profilephoto %} {{ propic.url }} {% endblock %}
{% block content %}
    <div style="padding: 10px;">
        <div>
            <img src="{{post.image.url}}" alt="post" height="250px" width="250px">
        </div><br>
        <div>
            <a href="{% url 'instagram:profile' post.uploader %}">
                <img src="{{uploader.profile_pic.url}}" alt="{{uploader}}" style="border-radius: 50%;" height="24px" width="24px">
                 {{ post.uploader }}
            </a><br>
        </div>
        <div>
            <p>{{ post.caption }}</p>
        </div>
        <div> 
            <p>
                <button class="btn btn-primary btn-sm" id="btn-like" >
                    {% if user in LIKES.likers %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                <a href="#" id="t_like"></a>
                <a href="#" id="t_comment"></a><br>
                {{ post.date_published.date }}
            </p>
        </div>
        <div>
            <form id="comment_form" method="POST">
                {% csrf_token %}
                <textarea name="comment" id="comment" cols="30" rows="1" placeholder="Write a comment..."></textarea>
                <input type="hidden" name="slug" id="slug" value="{{post.slug}}">
            </form>
        </div>
        <div id="comment-div">
            {% for commenter,comment in COMMENTS.post_comment %}
                <div id="comment-div_{{comment.id}}">
                    <p>
                        <a href="{% url 'instagram:profile' commenter %}">
                            <img src="{{commenter.profile_pic.url}}" alt="{{commenter}}" style="border-radius: 50%;" height="24px" width="24px">
                            {{ comment.commenter }}
                        </a>
                        {{ comment.comment }}
                        {% if user == post.uploader or user == comment.commenter %}
                            <button class="btn btn-danger btn-sm comment_delete" data-id="{{comment.id}}">Delete</button>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
{% block js %}
    {% include 'post/snippets/post_details.js.html' %}
{% endblock %}