{% extends 'base.html' %}
{% load static %}
{% block title %} post {% endblock %}
{% block profilephoto %} {{ propic.url }} {% endblock %}
{% block body %}
    <div>
        <div>
            <img src="{{post.image.url}}" alt="post" height="250px" width="250px">
        </div>
        <div>
            <a href="{% url 'instagram:profile' post.uploader %}">
                <img src="{{uploader.profile_pic.url}}" alt="{{uploader}}" style="border-radius: 50%;" height="24px" width="24px">
                 {{ post.uploader }}
            </a><br>
            <p>{{ post.date_published.date }}</p>
        </div>
        <div>
            <p>{{ post.caption }}</p>
        </div>
        <div> 
            <p>
                <button id="btn-like" >Like</button>
                <a href="#" id="t_like"></a>
                <a href="#" id="t_comment"></a>
            </p>
        </div>
        <div>
            <form action="{% url 'post:add_comment' %}" id="comment_form" method="POST">
                {% csrf_token %}
                <textarea name="comment" id="comment" cols="30" rows="1" placeholder="Write a comment..."></textarea>
                <input type="hidden" name="slug" id="slug" value="{{post.slug}}">
                <!-- <input type="submit" style="display: none;" name="submit"> -->
            </form>
        </div>
        <div>
            {% for commenter,comment in COMMENTS.post_comment %}
                <div>
                    <p>
                        <a href="{% url 'instagram:profile' commenter %}">
                            <img src="{{commenter.profile_pic.url}}" alt="{{commenter}}" style="border-radius: 50%;" height="24px" width="24px">
                            {{ commenter }}
                        </a>
                    {{ comment }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $(function(){
            $("#comment").keypress(function (e) {
                if(e.which == 13 && !e.shiftKey) {        
                    $(this).closest("form").submit();
                    e.preventDefault();
                }
            });
            // $("#comment_form").on("submit",function(){
            //     $.ajax({
            //         type:   "post",
            //         url:    "{% url 'post:add_comment' %}",
            //         data:{
            //             comment : $(this).val(),
            //             csrfmiddlewaretoken : $("input[name=csrfmiddlewaretoken]").val()
            //         },
            //         success: function(response){
            //             alert(response+' success bro!!');
            //         },
            //         error: function(e){
            //             alert(e);
            //         }
            //     });
            // })
        });
    </script>
{% endblock %}