<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block headjs %}{% endblock %}
</head>

<body>
    <div style="height: 100%;display:flex;">
        <section class="root-section">
            <nav class="header">
                <div class="nav_div">
                    <div class="nav_content">
                        <div class="nav_logo">
                            <a href="{%url 'instagram:feed'%}">
                                <div class="logo-div">
                                    <img class="logo" src="{%static 'images/favicon.ico'%}" alt="instalogo" />
                                </div>
                            </a>
                        </div>
                        <div class="nav_search">
                            <input class="search" type="text" placeholder="Search" value="">
                        </div>
                        <div class="nav_menu">
                            <div class="menu">
                                <div class="menu-item">
                                    <a href="{%url 'instagram:feed'%}"><img class="menuitemimg" id="home"
                                            src="{%static 'images/home.png'%}" alt="home" /></a>
                                </div>
                                <div class="menu-item">
                                    <a href="#"><img class="menuitemimg" id="send" src="{%static 'images/send.png'%}"
                                            alt="send" /></a>
                                </div>
                                <div class="menu-item">
                                    <a href="#"><img class="menuitemimg" id="compass"
                                            src="{%static 'images/compass.png'%}" alt="compass" /></a>
                                </div>
                                <div class="menu-item">
                                    <a href="#"><img class="menuitemimg" id="heart" src="{%static 'images/heart.png'%}"
                                            alt="heart" /></a>
                                </div>
                                <div class="menu-item">
                                    <div class=""></div>
                                    <img class="profile menuitemimg" id="propic" src="{{ user.profiles.first.profile_pic.url }}" alt="{{user}}"/>
                                    <div>
                                        <div class="nav_dropdown" style="margin-left: -180px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <main class="main-content">
                {%block content%}
                {%endblock%}
            </main>
            <footer>
                <div>
                    this is footer
                </div>
            </footer>
        </section>
    </div>
    <script>
        const user_profile_link = "{%url 'instagram:profile' request.user.username %}";
        const dropdown=`<div class="window" id="window" style="z-index:2;"></div>
                        <div aria-hidden="false" class="dropmenu">
                            <div class="dropmenubox" style="left: 184px;"></div>
                            <div class="dropitemsdiv">
                                <a class="dropitem" href="${user_profile_link}" tabindex="0">
                                    <div class="profile_logout">
                                        <div class="profileicon">
                                            <svg aria-label="Profile" style="display:block;position:relative;" fill="#262626" height="16" viewBox="0 0 32 32"
                                                width="16">
                                                <path
                                                    d="M16 0C7.2 0 0 7.1 0 16c0 4.8 2.1 9.1 5.5 12l.3.3C8.5 30.6 12.1 32 16 32s7.5-1.4 10.2-3.7l.3-.3c3.4-3 5.5-7.2 5.5-12 0-8.9-7.2-16-16-16zm0 29c-2.8 0-5.3-.9-7.5-2.4.5-.9.9-1.3 1.4-1.8.7-.5 1.5-.8 2.4-.8h7.2c.9 0 1.7.3 2.4.8.5.4.9.8 1.4 1.8-2 1.5-4.5 2.4-7.3 2.4zm9.7-4.4c-.5-.9-1.1-1.5-1.9-2.1-1.2-.9-2.7-1.4-4.2-1.4h-7.2c-1.5 0-3 .5-4.2 1.4-.8.6-1.4 1.2-1.9 2.1C4.2 22.3 3 19.3 3 16 3 8.8 8.8 3 16 3s13 5.8 13 13c0 3.3-1.2 6.3-3.3 8.6zM16 5.7c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm0 11c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="profiletext">
                                            <div class="" id="">
                                                <div class="" style="height: 28px; width: 170px;">
                                                    <div class="">Profile</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <hr class="logoutline">
                                <a class="dropitem" href="/accounts/logout" tabindex="0">
                                    <div class="profile_logout" style="height: 28px; width: 170px;">
                                        <div class="">Log Out</div>
                                    </div>
                                </a>
                            </div>
                        </div>` ;

        function pageactive(navitem){
            const navitems = ['home', 'send', 'compass', 'heart'];
            navitems.forEach(function (i) {
                if (i === navitem) {
                    if (i !== 'propic'){
                        const imgsrc = "{%static 'images/imgsrc.png'%}".replace('imgsrc', `${i}fill`);
                        $(`img#${i}`).attr("src", imgsrc);
                    }
                } else {
                    const imgsrc = "{%static 'images/imgsrc.png'%}".replace('imgsrc', `${i}`);
                    $(`img#${i}`).attr("src", imgsrc);
                }
            });
        }

        function dropmenu(page){
            $('#propic').on('click',function(){
                $('div.nav_dropdown').append(dropdown)
                if (page!=='propic')
                    pageactive('propic')
                    $('img#propic').prev().addClass('propicactive')
            });
        }

        function dropmenuhide(navitem){
            $('body').on('click','div#window',function(){
                $('.common_overlay').remove();
                if (navitem!=='propic')
                    $('img#propic').prev().removeClass('propicactive')
                $('div.nav_dropdown').empty()
                pageactive(navitem)
            });
        }
        $(function(){
            $('div.menu-item').on('click','img',function(){
                const navitem = $(this).attr('id');
                pageactive(navitem);
            });
        });
    </script>
    {% block js %}
    {% endblock %} 
</body>
</html>