<script>
    $(function(){
        let totalcomment = '{{COMMENTS.total_comments}}';
        $("#t_comment").text(`${totalcomment} comment${totalcomment <= 1 ? "" : "s"}`);
        let totallike = '{{LIKES.total_likes}}';
        $("#t_like").text(`${totallike} like${totallike <= 1 ? "" : "s"}`);

        $('textarea').keypress(function (e) {
            if(e.which == 13 && !e.shiftKey) {        
                $(this).closest("form").submit();
                e.preventDefault();
            }
        });

        $("#comment_form").on("submit",function(e){
            e.preventDefault();
            $.ajax({
                type:   "post",
                url:    "{% url 'post:add_comment' %}",
                data:{
                    comment : $("#comment").val(),
                    post_id : '{{post.id}}',
                    csrfmiddlewaretoken : $("input[name=csrfmiddlewaretoken]").val()
                },
                success: function(response){
                    $("#comment_form").trigger("reset");
                    newcomment(response);
                    
                },
                error: function(e){
                    console.log(e);
                }
            });
        });

        $("#comment-div").on("click","button.comment_delete",function(e){
            e.preventDefault();
            $.ajax({
                type: 'get',
                url : "{% url 'post:delete_comment' %}",
                data: {
                    id: $(this).data("id"),
                },
                success:function(data){
                    $(`#comment-div_${data.id}`).remove();
                    totalcomment--;
                    $("#t_comment").text(`${totalcomment} comment${totalcomment <= 1 ? "" : "s"}`);
                },
                error:function(e){
                    console.log(e);
                }
            });
        });

        // console.log($("#btn-like").text().trim());

        $("#btn-like").on("click",function(e){
            e.preventDefault();
            $.ajax({
                type: 'get',
                url : "{% url 'post:edit_like' %}",
                data: {
                    id: '{{post.id}}',
                    event: $("#btn-like").text().trim()
                },
                success:function(data){
                    $("#btn-like").text(data.button);
                    if (data.button === 'Like'){
                        totallike--;
                        $("#t_like").text(`${totallike} like${totallike <= 1 ? "" : "s"}`);
                    }else{
                        totallike++;
                        $("#t_like").text(`${totallike} like${totallike <= 1 ? "" : "s"}`);
                    }
                },
                error:function(e){
                    console.log(e);
                }
            });
        });

        function newcomment(data){
            id = data.id
            name = data.name;
            propic = data.propic;
            profileurl = "{% url 'instagram:profile' 'name' %}".replace('name',name);
            comment = data.comment;
            totalcomment++;
            $("#comment-div").append(`
                <div id="comment-div_${id}">
                    <p>
                        <a href="${profileurl}">
                            <img src="${propic}" alt="${name}" style="border-radius: 50%;" height="24px" width="24px">
                            ${name}
                        </a>
                        ${comment}
                        <button class="btn btn-danger btn-sm comment_delete" data-id="${id}">Delete</button>
                    </p>
                </div>`);
            $("#t_comment").text(`${totalcomment} comment${totalcomment <= 1 ? "" : "s"}`);
        }


    });
</script>